:root {
	--dark-color-a: #6f1737;
	--dark-color-b: #2db733;
	--light-color: #336cbc;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'cursive';
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}